*{
  margin:0;
  padding:0;
  
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
body{

  padding: 10px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}


/*Flexbox elements*/

.title-container, .head-container{
  display: flex;
  align-items: center;
  justify-content: center;
 flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;}



.add-project, .clear-all{
 
  padding: 0px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: solid 1px black;
  font-size: 30px;
  width: 300px;
}

.add-project-input {
  font-size: 20px;
  width: 100%;
  border: none;
  outline: none;
}


.main-container{
  display: flex;
  gap: 60px;
}

.project-list-container{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
  line-height: 30px;
  width: 400px;
}

.projects-list li{
  padding: 10px;
  margin: 10px;
  list-style: none;
  position: relative;
}

.projects-list li:hover{
  background-color: aqua;
  cursor: pointer;
}

.task-list-container{
  background-color: aqua;
  padding: 20px;
}

.task-list-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.task-create-button{
  border: solid 1px;
  padding: 5px;
  border-radius: 20px;
  background-color: blanchedalmond;
}

.task-container{
  background-color: rgb(167, 130, 201);
  padding: 10px;
}

.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-icons{
  display: flex;
  justify-content: right;
  gap: 20px;

}

